html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Space Mono", sans-serif;
  background-color: #141d2e;
}

main {
  padding: 3.2rem 2.4rem;
  max-width: 73rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.avatar {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}
@media (min-width: 600px) {
  .avatar.mobile {
    display: none;
  }
}
.avatar.tab-desk {
  display: none;
}
@media (min-width: 600px) {
  .avatar.tab-desk {
    display: block;
  }
}
@media (min-width: 600px) {
  .avatar {
    height: 11.7rem;
    width: 11.7rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.6rem;
}
.navbar__site-name {
  font-size: 2.6rem;
  font-family: "Space Mono", sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.navbar__toggle {
  display: inline-flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Space Mono", sans-serif;
  gap: 1.6rem;
  background-color: transparent;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn {
  color: white;
  padding: 2rem 1.6rem;
  font-family: "Space Mono", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}
.btn.blue {
  background-color: #0077ff;
}

.section-dashboard {
  padding: 3.2rem 2.4rem;
  margin: 1.6rem 0;
  background-color: #1e2b48;
  border-radius: 1.5rem;
  color: white;
}
@media (min-width: 1200px) {
  .section-dashboard {
    display: flex;
    gap: 3rem;
  }
}
.section-dashboard__main {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.section-dashboard__main .top {
  display: flex;
  gap: 2rem;
}
.section-dashboard__main .user-info__name {
  font-size: 1.6rem;
  line-height: 1;
}
.section-dashboard__main .user-info__github-link {
  color: #0077ff;
  text-decoration: none;
  font-size: 1.3rem;
}
.section-dashboard__main .user-info__date {
  font-size: 1.3rem;
}
.section-dashboard__main .user-bio p {
  font-size: 1.3rem;
}
.section-dashboard__main .user-stats {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.1rem;
  background-color: #141d2e;
  text-align: center;
  padding: 1.8rem 2rem;
  border-radius: 1rem;
}
.section-dashboard__main .user-stats > * {
  line-height: 1.6;
}
.section-dashboard__main .user-stats span {
  font-weight: 700;
  font-size: 1.6rem;
  display: block;
}

.searchbar {
  position: relative;
  background-color: #1e2b48;
  padding: 0.65rem 1rem;
  border-radius: 1.5rem;
}
.searchbar__form {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 1.5rem;
  padding-left: 1.6rem;
}
.searchbar__form .search {
  padding: 2rem 0.8rem;
  flex-grow: 2;
  width: 100%;
  background-color: transparent;
  text-overflow: ellipsis;
  border: none;
  color: white;
  font-family: "Space Mono", sans-serif;
}
.searchbar__form .search::placeholder {
  font-family: "Space Mono", sans-serif;
  color: white;
}
.searchbar__form .search:focus {
  outline: none;
}
.searchbar__errorMsg {
  visibility: hidden;
  position: absolute;
  color: #f74545;
  font-size: 1.5rem;
}

/*# sourceMappingURL=app.css.map */
