.section-dashboard {
  padding: 3.2rem 2.4rem;
  margin: 1.6rem 0;
  background-color: hsl(var(--component-bg));
  border-radius: 1.5rem;
  color: hsl(var(--color-white));
  box-shadow: var(--box-shadow);

  @include responsive(reg-desk) {
    display: flex;
    gap: 3rem;
  }

  &__main {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    @include responsive(reg-desk) {
    }

    .top {
      display: flex;
      gap: 2rem;
    }

    .user-info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__name {
        font-size: 1.6rem;
        line-height: 1;
        color: hsl(var(--dashboard-txt));

        @include responsive(tab-port) {
          font-size: 2.6rem;
        }
      }

      &__github-link {
        color: hsl(var(--color-primary-blue));
        text-decoration: none;
        font-size: 1.3rem;

        @include responsive(tab-port) {
          font-size: 1.6rem;
        }
      }

      &__date {
        font-size: 1.3rem;
        color: hsl(var(--user-bio-txt));

        @include responsive(tab-port) {
          font-size: 1.5rem;
        }
      }
    }

    .user-bio {
      p {
        font-size: 1.3rem;
        color: hsl(var(--user-bio-txt));
        @include responsive(tab-port) {
          font-size: 1.5rem;
        }
      }
    }

    .user-stats {
      display: flex;
      justify-content: space-between;
      font-size: 1.1rem;
      background-color: hsl(var(--user-stats-bg));
      text-align: center;
      padding: 1.8rem 2rem;
      border-radius: 1rem;

      @include responsive(tab-port) {
        font-size: 1.3rem;
        text-align: left;
        justify-content: flex-start;
      }

      &__stat {
        color: hsl(var(--user-text));

        @include responsive(tab-port) {
          padding-right: 9rem;
        }
      }

      span {
        font-weight: 700;
        font-size: 1.6rem;
        display: block;

        @include responsive(tab-port) {
          font-size: 2.2rem;
        }
      }
    }

    .user-links {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.6rem;
      font-size: 1.3rem;
      width: 100%;

      @include responsive(tab-port) {
        grid-template-columns: repeat(2, minmax(20rem, 1fr));
      }

      div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        min-width: 20rem;
        gap: 1rem;
        color: hsl(var(--color-white));

        svg {
        }

        a.available:hover {
          text-decoration: underline;
        }

        .available {
          color: hsl(var(--user-bio-txt));
        }

        .unavailable {
          color: hsl(var(--color-grey));
        }

        .blog {
          text-decoration: none;
          color: hsl(var(--color-white));
        }
      }
    }
  }
}
